body{
  margin: 0;
  padding: 0;
} 
.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-container {
  width: 100%;
  height: 1377px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 500;
  }
  .navbar-item-1 img {
    top: 40px;
    left: 70px;
    width: 40px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-2 img {
    max-height: 25px;
    top: 43px;
    left: 150px;
    width: 396px;
    height: 25px;
    position: absolute;
  }
  .navbar-item-3 {
    top: 45px;
    left: 660px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-4 {
    top: 45px;
    left: 825px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-5 {
    top: 45px;
    left: 1000px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-6 img {
    top: 45px;
    left: 1230px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-7 img {
    top: 44px;
    left: 1295px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-8 img {
    top: 40px;
    left: 1358px;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .nav__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  }
  .nav__links li {
    margin-left: 20px;   
  }
  .nav__links a {
    text-decoration: none;
    color: black;
    font-size: 23px; 
    font-family: Raleway;
    font-weight: bolder;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #63A5B4;
  }  
.delivery-info-text {
  top: 373px;
  left: 70px;
  color: rgba(22, 22, 24, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.visa-logo {
    top: 819px;
    left: 509px;
    width: 33px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(1, 50, 111, 1);
}
.amex-logo {
  top: 819px;
  left: 547px;
  width: 33px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(1, 50, 111, 1);
}
.ucb-logo {
    top: 819px;
    left: 585px;
    width: 33px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(1, 50, 111, 1);
}
.mastercard-logo {
    top: 819px;
    left: 623px;
    width: 33px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(1, 50, 111, 1);
}
.afterpay-logo {
    top: 869px;
    left: 623px;
    width: 33px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(1, 50, 111, 1);
}  

.applepay-button {
    top: 220px;
    left: 134px;
    width: 100px;
    height: 70px;
    position: absolute;
  }
.shoppay-button {
    top: 220px;
    left: 297px;
    width: 100px;
    height: 70px;
    position: absolute;
  }
.gpay-button {
  top: 220px;
  left: 460px;
  width: 100px;
  height: 70px;
  position: absolute;
}
.payment-methods {
  top: 748px;
  left: 49px;
  color: rgba(22, 22, 24, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 ::placeholder{
   padding: 5px;
   opacity: 1.0;
   color:rgba(99, 165, 180, 1);
   font-size: 16px;
 }

 input {
  border-radius: 2px;
  border: 1px solid #777;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  width: 70%;  
  padding: 20px;
}

#name{
  top: 436px;
  left: 70px;
  width: 584px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
}
 #phone{
  top: 508px;
  left: 436px;
  width: 218px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
 }
#address{
  top: 581px;
  left: 70px;
  width: 584px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
}
#state{
  top: 651px;
  left: 70px;
  width: 260px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
}
#zipcode{
  top: 651px;
  left: 356px;
  width: 298px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
}
#email{
  top: 508px;
  left: 70px;
  width: 340px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  border-width: 0.25px;
}

.payment-method-text{
  top: 750px;
  left: 70px;
  color: rgba(22, 22, 24, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;

}
.line-1 {
    width: 50%; 
    height: 2px; 
    background-color: #000; 
    border: none; 
    top: 300px
}
.or-text {
  top: 328px;
  left: 330px;
  color: rgba(22, 22, 24, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.express-checkout-text {
  top: 147px;
  left: 70px;
  color: rgba(22, 22, 24, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.order-summary-text {
  top: 147px;
  left: 800px;
  color: rgba(22, 22, 24, 1);
  width: 235px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.catherine-island-text {
  top: 233px;
  left: 800px;
  color: rgba(22, 22, 24, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stamford-coffee-table-text {
  top: 270px;
  left: 800px;
  color: rgba(22, 22, 24, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.price-one {
  top: 270px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.price-two {
  top: 233px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.price-three {
  top: 342px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.subtotal-text {
  top: 342px;
  left: 800px;
  color: rgba(99, 165, 180, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.grandtotal-text {
  top: 475px;
  left: 800px;
  color: rgba(22, 22, 24, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.total-price {
  top: 475px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.discount-price {
  top: 413px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.discount-text {
  top: 416px;
  left: 800px;
  color: rgba(99, 165, 180, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shipping-price {
  top: 375px;
  right: 100px;
  color: rgba(22, 22, 24, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shipping-text {
  top: 378px;
  left: 800px;
  color: rgba(99, 165, 180, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirm-order-button {
    top: 550px;
    right: 215px;
    width: 288px;
    height: 47px;
    position: absolute;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.confirm-order-button:disabled {
    pointer-events: none;
}

.confirm-order-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.confirm-order-button:active {
    box-shadow: none;
    transform: translateY(0);
}
.credit-card-text {
    top: 819px;
    left: 125px;
    color: rgba(22, 22, 24, 1);
    width: 235px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
.checkbox-1 .round {
    top: 820px;
    left: 88px;
    position: absolute;
    }
  
.checkbox-1 .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: block;
    }
  
.checkbox-1 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5.5px;
    transform: rotate(-45deg);
    width: 12px;
    }
  
.checkbox-1 .round input[type="radio"] {
    visibility: hidden;
    display: none;
    opacity: 0;
    }
  
.checkbox-1 .round input[type="radio"]:checked + label {
    background-color: rgba(99, 165, 180, 1);
    border-color: rgba(99, 165, 180, 1);
    }
  
.checkbox-1 .round input[type="radio"]:checked + label:after {
    opacity: 1;
    }
.afterpay-text {
        top: 869px;
        left: 125px;
        color: rgba(22, 22, 24, 1);
        width: 235px;
        height: auto;
        position: absolute;
        font-size: 20px;
        font-style: Regular;
        text-align: left;
        font-family: Raleway;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }
.checkbox-2 .round {
    top: 870px;
    left: 88px;
    position: absolute;
}
      
.checkbox-2 .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: block;
}
      
.checkbox-2 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5.5px;
    transform: rotate(-45deg);
    width: 12px;
}
      
.checkbox-2 .round input[type="radio"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}
      
.checkbox-2 .round input[type="radio"]:checked + label {
    background-color: rgba(99, 165, 180, 1);
    border-color: rgba(99, 165, 180, 1);
}
      
.checkbox-2 .round input[type="radio"]:checked + label:after {
    opacity: 1;
}
.bnpl-text {
    top: 919px;
    left: 125px;
    color: rgba(22, 22, 24, 1);
    width: 235px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
.checkbox-3 .round {
    top: 920px;
    left: 88px;
    position: absolute;
}
      
.checkbox-3 .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: block;
}
      
.checkbox-3 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5.5px;
    transform: rotate(-45deg);
    width: 12px;
}
      
.checkbox-3 .round input[type="radio"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}
      
.checkbox-3 .round input[type="radio"]:checked + label {
    background-color: rgba(99, 165, 180, 1);
    border-color: rgba(99, 165, 180, 1);
}
      
.checkbox-3 .round input[type="radio"]:checked + label:after {
    opacity: 1;
}
      
.brand-logo-two {
    top: 1129px;
    left: 37px;
    width: 669px;
    height: 39px;
    position: absolute;
}
.contact-us-text {
    top: 1207px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 289px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-text {
    top: 1208px;
    left: 37px;
    color: rgba(243, 243, 243, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions {
    top: 1208px;
    left: 1222px;
    color: rgba(243, 243, 243, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-explanation {
    top: 1247px;
    left: 37px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .contact-us-explanation {
    top: 1281px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 203px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions-explanation {
    top: 1279px;
    left: 1225px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
.footer-background {
    top: 1099px;
    left: 0px;
    width: 2912px;
    height: 400px;
    position: absolute;
    background-color: #161618;
  }

  .home-page-button {
    appearance: none;
    background-color: rgba(99, 165, 180, 1);
    border: 2px solid rgba(99, 165, 180, 1);
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .home-page-button:disabled {
    pointer-events: none;
  }

  .home-page-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .home-page-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.popup{
  width: 750px;
  height: 300px;
  background-color: #000000;
  border-radius: 20px;
  position: absolute;
  top: 400px;
  left: 725px;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #FFFFFF;
  visibility: hidden;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: Raleway;
}

.popup h2{
  font-family: Raleway;
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.open-popup{
  visibility: visible;
  top: 480px;
  transform: translate(-50%, -50%) scale(1);
}
.close-button {
  top: 245px;
  left: 260px;
  width: 287px;
  height: 47px;
  position: absolute;
  appearance: none;
  background-color: rgba(99, 165, 180, 1);
  border: 2px solid rgba(99, 165, 180, 1);
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family:  Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 12px 24px 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.close-button:disabled {
  pointer-events: none;
}

.close-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.close-button:active {
  box-shadow: none;
  transform: translateY(0);
}