body {
  margin: 0;
  padding: 0;
}
.main-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  } 
  .page-container {
    width: 100%;
    height: 1494px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 500;
  }
  .navbar-item-1 img {
    top: 40px;
    left: 70px;
    width: 40px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-2 img {
    max-height: 25px;
    top: 43px;
    left: 150px;
    width: 396px;
    height: 25px;
    position: absolute;
  }
  .navbar-item-3 {
    top: 45px;
    left: 660px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-4 {
    top: 45px;
    left: 825px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-5 {
    top: 45px;
    left: 1000px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-6 img {
    top: 45px;
    left: 1230px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-7 img {
    top: 44px;
    left: 1295px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-8 img {
    top: 40px;
    left: 1358px;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .nav__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
  }
  .nav__links li {
    margin-left: 20px;   
  }
  .nav__links a {
    text-decoration: none;
    color: black;
    font-size: 23px; 
    font-family: Raleway;
    font-weight: bolder;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #63A5B4;
  }  

  .image-background-rectangle-one {
    top: 233px;
    left: 89px;
    width: 500px;
    height: 475px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-two {
    top: 233px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-three {
    top: 396px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-four {
    top: 559px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .furniture-image-one {
    top: 280px;
    left: 140px;
    width: 400px;
    height: 320px;
    position: absolute;
  }
  .furniture_image_two {
    top: 400px;
    left: 680px;
    width: 155px;
    height: 130px;
    position: absolute;
    border-radius: 10px;
  }
  .furniture_image_three {
    top: 545px;
    left: 672px;
    width: 175px;
    height: 150px;
    position: absolute;
  }
  .furniture_image_four {
    top: 233px;
    left: 659px;
    width: 199px;
    height: 138px;
    position: absolute;
    border-radius: 10px;
  }
  .navigation-arrow-one {
    top: 154.9150390625px;
    left: 171px;
    width: 9px;
    height: 16px;
    position: absolute;
  }
  .furniture-button {
    top: 151px;
    left: 165px;
    color: rgba(22, 22, 24, 1);
    width: 173px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-button {
    top: 150px;
    left: 50px;
    color: rgba(22, 22, 24, 1);
    width: 134px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .navigation-arrow-two {
    top: 154.91455078125px;
    left: 322px;
    width: 9px;
    height: 16px;
    position: absolute;
  }
  .tables-button {
    top: 150.99951171875px;
    left: 316px;
    color: rgba(22, 22, 24, 1);
    width: 173px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

.accordion {
  width: 100%;
  top: 770px;
  position: absolute;
  left: 50px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.accordion .item {
font-family: Raleway;
font-size: 28px;
}

.accordion input {
  position: absolute;
  opacity: 0;
}

.accordion label {
  display: block;
  background: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}
.accordion label:hover{
color: #63A5B4;
}

.accordion .content {
  border: 1px solid #FFFFFF;
  border-top: none;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  font-size: 16px;
}

.accordion input:checked ~ .content {
  height: auto;
  padding: 10px;
  transition: all 1s cubic-bezier(.23, 1, 0.32, 1);
}
  .furniture-main-title {
    top: 225px;
    left: 988px;
    color: rgba(22, 22, 24, 1);
    width: 466px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: SemiBold;
    text-align: left;
    font-family: Raleway;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-sub-title {
    top: 265px;
    left: 989px;
    color: rgba(22, 22, 24, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-price {
    top: 310px;
    left: 944px;
    color: rgba(99, 165, 180, 1);
    width: 197px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Medium;
    text-align: center;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-price-extra {
    top: 350px;
    left: 989px;
    color: rgba(0, 0, 0, 1);
    width: 346px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .afterpay-logo {
    top: 375px;
    left: 1115px;
    width: 125px;
    height: 30px;
    position: absolute;
  }
  .size-text {
    top: 444px;
    left: 989px;
    color: rgba(22, 22, 24, 1);
    width: 139px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .small-button {
    top: 489px;
    left: 989px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: rgba(99, 165, 180, 1);
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .small-button:disabled {
    pointer-events: none;
  }
  
  .small-button:hover {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .small-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .small-button.clicked {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: none;
    transform: translateY(0);
  }

  .medium-button {
    top: 489px;
    left: 1129px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: rgba(99, 165, 180, 1);
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .medium-button:disabled {
    pointer-events: none;
  }
  
  .medium-button:hover {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .medium-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .medium-button.clicked {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: none;
    transform: translateY(0);
  }

  .large-button {
    top: 489px;
    left: 1271px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: rgba(99, 165, 180, 1);
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .large-button:disabled {
    pointer-events: none;
  }
  
  .large-button:hover {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .large-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .large-button.clicked {
    color: #fff;
    background-color: rgba(99, 165, 180, 1);
    box-shadow: none;
    transform: translateY(0);
  }

  .add-to-cart-button {
    top: 560px;
    left: 1047px;
    width: 288px;
    height: 47px;
    position: absolute;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .add-to-cart-button:disabled {
    pointer-events: none;
  }

  .add-to-cart-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .add-to-cart-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .buy-now-button {
    top: 620px;
    left: 1047px;
    width: 287px;
    height: 47px;
    position: absolute;
    appearance: none;
    background-color: rgba(99, 165, 180, 1);
    border: 2px solid rgba(99, 165, 180, 1);
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .buy-now-button:disabled {
    pointer-events: none;
  }

  .buy-now-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .buy-now-button:active {
    box-shadow: none;
    transform: translateY(0);
}
  .footer-background {
    top: 1099px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: absolute;
    background-color: #161618;
  }
  .contact-us-text {
    top: 1207px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 289px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-text {
    top: 1208px;
    left: 37px;
    color: rgba(243, 243, 243, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions {
    top: 1208px;
    left: 1222px;
    color: rgba(243, 243, 243, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-explanation {
    top: 1247px;
    left: 37px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .contact-us-explanation {
    top: 1281px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 203px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions-explanation {
    top: 1279px;
    left: 1225px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .brand-logo-two {
    top: 1129px;
    left: 37px;
    width: 669px;
    height: 39px;
    position: absolute;
  }

  .whole-footer{
    position: absolute;
    top: 8vh;
    left: 0vh;
  }

.accordion {
    width: 100%;
    top: 770px;
    position: absolute;
    left: 50px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.accordion .item {
  font-family: Raleway;
  font-size: 28px;
}

.accordion input {
    position: absolute;
    opacity: 0;
}

.accordion label {
    display: block;
    background: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}
.accordion label:hover{
  color: #63A5B4;
}

.accordion .content {
    border: 1px solid #FFFFFF;
    border-top: none;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    font-size: 16px;
}

.accordion input:checked ~ .content {
    height: auto;
    padding: 10px;
    transition: all 1s cubic-bezier(.23, 1, 0.32, 1);
}

@media screen  and (max-width:400px) { 

  body{
    margin: 0;
    padding: 0;
  }

  .navbar-item-2 img{
    transform: scale(0.9);
    position: relative;
    top: -1vh;
    left: 18.1vh;
  }

  .navbar-item-1 img{
    left: 2vh;
    top: 4.3vh;
  }

  .home-button{
    position: relative;
    top: 11.9vh;
    left: 5vh;
    z-index: 3000;
  }

  .navigation-arrow-one{
    top: 12.5vh;
    left: 13vh;
    z-index: 30000;
  }

  .furniture-button{
    top: 12.2vh;
    left: 10vh;
    z-index: 30000;
  }

  .navigation-arrow-two{
    top: 12.5vh;
    left: 27vh;
    z-index: 30000;
  }

  .tables-button{
    top: 12.2vh;
    left: 23vh;
    z-index: 30000;
  }

  .furniture-main-title{
    position: relative;
    top: 17vh;
    left: 5vh;
    font-size: 1.7rem;
  }

  .furniture-sub-title {
    position: relative;
    top: 17vh;
    left: 5vh;
  }

  .furniture-price {
    position: relative;
    top: 52vh;
    left: -12vh;
    font-size: 1.6rem;
  }

  .furniture-price-extra {
    position: relative;
    top: 52vh;
    left: 5vh;
    font-size: 1.4rem;
  }

  .afterpay-logo{
    position: relative;
    top: 53.2vh;
    left: 5vh;
  }

  .small-button{
    position: relative;
    top: 105vh;
    left: -3vh;
    transform: scale(0.6);
  }

  .medium-button{
    position: relative;
    top: 100vh;
    left: 8vh;
    transform: scale(0.6);
  }

  .large-button{
    position: relative;
    top: 95vh;
    left: 19vh;
    transform: scale(0.6);
  }

  .add-to-cart-button {
    position: relative;
    top: 95vh;
    left: -2vh;
    transform: scale(0.7);
  }

  .buy-now-button {
    position: relative;
    top: 95vh;
    left: -2vh;
    transform: scale(0.7);
  }

  .furniture{
    position: relative;
    top: -20.5vh;
    left: 30vw;
  }

  .arrow{
    position: relative;
    top: -14vh;
    left: 24vw;
  }

  .fotter-rec{
    transform: scale(0.3);
    top: -35vh;
    left: -70vh;
  }

  .btn-container{
    position: relative;
    top: -50vh;
    left: 15vw;
  }

  .accordion{
    left: 0.4vh;
  }

  .furniture-image-scale{
    transform: scale(0.5);
    top: 15vh;
    left: -18vh;
    position: relative;
  }

  .mac-book-pro1415-logo824x5212{
    left: 30vh;
  }

  .mac-book-pro1415-text36{
    left: 30vh;
  }

  .mac-book-pro1415-text43{
    left: 20vh;
    top: 20vh;
    position: relative;
  }

  .mac-book-pro1415-text30{
    left: 97vh;
  }

  .mac-book-pro1415-text32{
    left: 30vh;
    top: 11vh;
  }



}