.main-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  } 
  .page-container {
    width: 100%;
    height: 1494px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .brand-logo {
    top: 57px;
    left: 176px; 
    width: 491px;
    height: 31px;
    position: absolute;
  }
  .collection-button { 
    top: 52px;
    left: 803px;
    color: rgba(22, 22, 24, 1);
    width: 178px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .appointments-button {
    top: 52px;
    left: 1170px;
    color: rgba(22, 22, 24, 1);
    width: 205px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .styling-tips-button {
    top: 51px;
    left: 981px;
    color: rgba(22, 22, 24, 1);
    width: 177px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .search-button {
    top: 57px;
    left: 1393px;
    width: 23px;
    height: 23px;
    position: absolute;
  }
  .shopping-cart-button {
    top: 62px;
    left: 1451px;
    width: 22px;
    height: 22px;
    position: absolute;
  }
  .hamburger-menu-button {
    top: 58px;
    left: 52px;
    width: 48px;
    height: 30px;
    position: absolute;
  }
  .image-background-rectangle-one {
    top: 233px;
    left: 89px;
    width: 500px;
    height: 475px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-two {
    top: 233px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-three {
    top: 396px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .image-background-rectangle-four {
    top: 559px;
    left: 625px;
    width: 267px;
    height: 142px;
    position: absolute;
    border-radius: 10px;
  }
  .furniture-image-one {
    top: 325px;
    left: 110px;
    width: 454px;
    height: 289px;
    position: absolute;
  }
  .furniture_image_two {
    top: 398px;
    left: 625px;
    width: 267px;
    height: 153px;
    position: absolute;
    border-radius: 10px;
  }
  .furniture_image_three {
    top: 584px;
    left: 643px;
    width: 231px;
    height: 125px;
    position: absolute;
  }
  .furniture_image_four {
    top: 233px;
    left: 659px;
    width: 199px;
    height: 138px;
    position: absolute;
    border-radius: 10px;
  }
  .description-button {
    top: 795px;
    left: 139px;
    color: rgba(80, 63, 55, 1);
    width: 489px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .enquiry-button {
    top: 843px;
    left: 139px;
    color: rgba(80, 63, 55, 1);
    width: 489px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .bnpl-button {
    top: 893px;
    left: 139px;
    color: rgba(80, 63, 55, 1);
    width: 629px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .shipping-button {
    top: 941px;
    left: 139px;
    color: rgba(80, 63, 55, 1);
    width: 489px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .reviews-button {
    top: 990px;
    left: 139px;
    color: rgba(80, 63, 55, 1);
    width: 489px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .line-one {
    top: 825px;
    left: 139px;
    width: 1212px;
    height: 1px;
    position: absolute;
  }
  .line-two {
    top: 976px;
    left: 139px;
    width: 1212px;
    height: 1px;
    position: absolute;
  }
  .line-three {
    top: 926px;
    left: 139px;
    width: 1212px;
    height: 1px;
    position: absolute;
  }
  .line-four {
    top: 879px;
    left: 139px;
    width: 1212px;
    height: 1px;
    position: absolute;
  }
  .navigation-arrow-one {
    top: 154.9150390625px;
    left: 171px;
    width: 9px;
    height: 16px;
    position: absolute;
  }
  .furniture-button {
    top: 151px;
    left: 165px;
    color: rgba(22, 22, 24, 1);
    width: 173px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .home-button {
    top: 150px;
    left: 50px;
    color: rgba(22, 22, 24, 1);
    width: 134px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .navigation-arrow-two {
    top: 154.91455078125px;
    left: 322px;
    width: 9px;
    height: 16px;
    position: absolute;
  }
  .tables-button {
    top: 150.99951171875px;
    left: 316px;
    color: rgba(22, 22, 24, 1);
    width: 173px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Light;
    text-align: center;
    font-family: Raleway;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-main-title {
    top: 225px;
    left: 988px;
    color: rgba(22, 22, 24, 1);
    width: 466px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: SemiBold;
    text-align: left;
    font-family: Raleway;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-sub-title {
    top: 265px;
    left: 989px;
    color: rgba(22, 22, 24, 1);
    width: 191px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-price {
    top: 313px;
    left: 944px;
    color: rgba(99, 165, 180, 1);
    width: 197px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Medium;
    text-align: center;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .furniture-price-extra {
    top: 364px;
    left: 989px;
    color: rgba(0, 0, 0, 1);
    width: 346px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .afterpay-logo {
    top: 388px;
    left: 1100px;
    width: 125px;
    height: 30px;
    position: absolute;
  }
  .size-text {
    top: 444px;
    left: 989px;
    color: rgba(22, 22, 24, 1);
    width: 139px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .small-button {
    top: 489px;
    left: 989px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .small-button:disabled {
    pointer-events: none;
  }
  
  .small-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .small-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .medium-button {
    top: 489px;
    left: 1129px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .medium-button:disabled {
    pointer-events: none;
  }
  
  .medium-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .medium-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .large-button {
    top: 489px;
    left: 1271px;
    width: 124px;
    height: 42px;
    position: absolute;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgba(99, 165, 180, 1);;
    border-radius: 20px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px 24px 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .large-button:disabled {
    pointer-events: none;
  }
  
  .large-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .large-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .add-to-cart-button {
    top: 560px;
    left: 1047px;
    width: 288px;
    height: 47px;
    position: absolute;
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .add-to-cart-button:disabled {
    pointer-events: none;
  }

  .add-to-cart-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .add-to-cart-button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  .buy-now-button {
    top: 620px;
    left: 1047px;
    width: 287px;
    height: 47px;
    position: absolute;
    appearance: none;
    background-color: rgba(99, 165, 180, 1);
    border: 2px solid rgba(99, 165, 180, 1);
    border-radius: 20px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family:  Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 12px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }

  .buy-now-button:disabled {
    pointer-events: none;
  }

  .buy-now-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  .buy-now-button:active {
    box-shadow: none;
    transform: translateY(0);
}
  .plus-icon-one {
    top: 800px;
    left: 1316px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .plus-icon-two {
    top: 994px;
    left: 1316px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .plus-icon-three {
    top: 946px;
    left: 1316px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .plus-icon-four {
    top: 897px;
    left: 1316px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .plus-icon-five {
    top: 847px;
    left: 1316px;
    width: 19px;
    height: 19px;
    position: absolute;
  }
  .footer-background {
    top: 1099px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: absolute;
    background-color: #161618;
  }
  .contact-us-text {
    top: 1207px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 289px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-text {
    top: 1208px;
    left: 37px;
    color: rgba(243, 243, 243, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions {
    top: 1208px;
    left: 1222px;
    color: rgba(243, 243, 243, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-explanation {
    top: 1247px;
    left: 37px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .contact-us-explanation {
    top: 1281px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 203px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions-explanation {
    top: 1279px;
    left: 1225px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .brand-logo-two {
    top: 1129px;
    left: 37px;
    width: 669px;
    height: 39px;
    position: absolute;
  }

.whole-fotter{
  position: absolute;
  top: 8vh;
  left: 0vh;
}