* {
    padding: 0;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    /* padding: 5vw; */
    font-size: 2rem;
    position: relative;
    top: 0vh;
  }
  
  .header-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15vh;
  }
  
  .logo-header img {
    position: absolute;
    max-height: 3vh;
    margin-left: 4vw;
    /* margin-top: -9vh; */
    padding: 2vw;
    z-index: 0.9;
    top: 0.9vh;
  }
  
  .right-items {
    position: relative;
    margin-top: -1vh;
    margin-left: 48vw;
    width: 150%;
    /* margin-top: -9vh; */
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: -6vh;
    top: 4.4vh;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    padding-right: 20px;
  }
  
  .nav__links li {
    padding: 0px 20px;
    z-index: 500;
  }
    
  .search, .cart, .login {
    margin-left: 20px;
    z-index: 500;
  }
  
  .nav__links li a{
      font-family: 'Raleway', sans-serif ;
      font-weight: 500;
      font-size: 25px;
      color: #161618;
      text-decoration: none;
      transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover{
      color: #63A5B4;
    }
  
    #sale{
      color: red;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    
    }
    
    #custom-color {
      color: rgb(255, 87, 51); /* The desired color in RGB format */
    }
    
    /* Add styles for menu list items */
    #menu a {
      display: block;
      position: relative;
    }
    
    /* Create an initial hidden line for each menu list item */
    #menu a::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #63A5B4; /* Use the same color as the hamburger icon */
      bottom: 0;
      left: 0;
      transition: width 0.3s ease;
    }
    
    /* Expand the line on hover */
    #menu a:hover::before {
      width: 80%;
    }
    
    #menuToggle
    {
      display: block;
      position: absolute;
      
      margin-top: 5vh;
      margin-left: 1.5vw;
    
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #FDFDFD;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle input
    {
      display: block;
      width: 2rem;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 2rem;
      height: 0.25rem;
      margin-bottom: 5px;
      position: relative;
    
      
      
      background: #63A5B4;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #63A5B4;
    }
    
    /*
     * hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     *the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 250px;
      height: 800px;
      left: -5vw;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      padding-left: 7vw;
      
      background: #161618;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
      box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);
      z-index: 3.9;
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
    
    /* Sub Menu */
    #menu li {
      position: relative;
      padding: 10px 0;
      font-size: 22px;
    }
    
    .submenu {
      position: absolute;
      left: 100%;
      top: 0;
      width: 300px;
      height: 100vh;
      background: #161618;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      opacity: 0; /* Initially hide the submenu */
      pointer-events: none; /* Ignore clicks on the hidden submenu */
      z-index: 0.1;
    }
    
    .submenu li {
      padding: 10px 0;
      font-size: 22px;
    }
    
    #menu li:hover .submenu {
      opacity: 1;
      visibility: visible;
    }
    
    .submenu-visible {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
    
    
    .menuToggle{
      font-family: 'Raleway', sans-serif;
    }
    
    #naviagtion{
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }
    
    .submenu{
      font-family: 'Raleway', sans-serif;
    }
    
    .hamburger{
      position: relative;
      top: -7vh;
      left: -8vh;
      z-index: 999;
    }
  
  .parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .parallax-item h1 {
    text-align: center;
    font-size: 80px;
    padding: 60px;
    width: 2000px;
  } 
  .parallax-item h2 {
    left: 40px;
    text-align: left;
    font-size: 80px;
    padding: 60px;
    width: 700px;
  }

  .parallax-item p {
    font-size: 15px;
    padding: 3rem;
    top: 40px;
    right: 40px;
    text-align: right;
    font-weight: 100;
    width: 1000px;
  }
  .parallax-item:first-child {
    text-align: right;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 850px;
  }

  .parallax-item:nth-child(2) {
    background: url("FinalIMAGE.png");
    background-color: black;
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }
  
  .parallax-item:nth-child(3) {
    background: url("Styling\ Tips\ 1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 700px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .parallax-item:nth-child(4) {
    background: url("finalIMAGE\ 6.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    color: #FFFFFF;
  }

  .parallax-item:nth-child(5) {
    background: url("finalIMAGE\ 2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #FFFFFF;
    color: #000000;
  }

  .parallax-item:nth-child(6) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    color: #FFFFFF;
  }

  .footer-background {
    top: 0px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: relative;
    background-color: #161618;
  }
  .contact-us-text {
    top: 80px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 289px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-text {
    top: 80px;
    left: 37px;
    color: rgba(243, 243, 243, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions {
    top: 80px;
    left: 1222px;
    color: rgba(243, 243, 243, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-explanation {
    top: 150px;
    left: 37px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .contact-us-explanation {
    top: 150px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 203px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions-explanation {
    top: 150px;
    left: 1225px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .brand-logo-two {
    top: 20px;
    left: 37px;
    width: 669px;
    height: 39px;
    position: absolute;
  }

  .whole-footer{
    top: 0px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }

  .whole-body{
    position: relative;
    top: -35vh;
    z-index: -10;
  }