* {
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 500;
  }
  .navbar-item-1 img {
    top: 40px;
    left: 70px;
    width: 40px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-2 img {
    max-height: 25px;
    top: 43px;
    left: 150px;
    width: 396px;
    height: 25px;
    position: absolute;
  }
  .navbar-item-3 {
    top: 45px;
    left: 660px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-4 {
    top: 45px;
    left: 825px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-5 {
    top: 45px;
    left: 1000px;
    width: 178px;
    height: auto;
    position: absolute;
  }
  .navbar-item-6 img {
    top: 45px;
    left: 1230px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-7 img {
    top: 44px;
    left: 1295px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar-item-8 img {
    top: 40px;
    left: 1358px;
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .nav__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 48px;
  }
  .nav__links li {
    margin-left: 20px;   
  }
  .nav__links a {
    text-decoration: none;
    color: black;
    font-size: 23px; 
    font-family: Raleway;
    font-weight: bolder;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #63A5B4;
  }  

  .parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  
  .parallax-item h1 {
    text-align: center;
    font-size: 80px;
    padding: 60px;
    width: 2000px;
  } 
  .parallax-item h2 {
    left: 40px;
    text-align: left;
    font-size: 80px;
    padding: 60px;
    width: 700px;
  }

  .parallax-item p {
    font-size: 15px;
    padding: 3rem;
    top: 40px;
    right: 40px;
    text-align: right;
    font-weight: 100;
    width: 1000px;
  }
  .parallax-item:first-child {
    text-align: right;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 850px;
  }

  .parallax-item:nth-child(2) {
    background: url("FinalIMAGE.png");
    background-color: black;
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }
  
  .parallax-item:nth-child(3) {
    background: url("Styling\ Tips\ 1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 700px;
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .parallax-item:nth-child(4) {
    background: url("finalIMAGE\ 6.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    color: #FFFFFF;
  }

  .parallax-item:nth-child(5) {
    background: url("finalIMAGE\ 2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #FFFFFF;
    color: #000000;
  }

  .parallax-item:nth-child(6) {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    color: #FFFFFF;
  }

  .footer-background {
    top: 0px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: relative;
    background-color: #161618;
  }
  .contact-us-text {
    top: 80px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 289px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-text {
    top: 80px;
    left: 37px;
    color: rgba(243, 243, 243, 1);
    width: 160px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions {
    top: 80px;
    left: 1222px;
    color: rgba(243, 243, 243, 1);
    width: 242px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Raleway;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about-us-explanation {
    top: 150px;
    left: 37px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .contact-us-explanation {
    top: 150px;
    left: 756px;
    color: rgba(243, 243, 243, 1);
    width: 203px;
    height: auto;
    position: absolute;
    font-size: 21px;
    font-style: Regular;
    text-align: left;
    font-family: Raleway;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .terms-and-conditions-explanation {
    top: 150px;
    left: 1225px;
    color: rgba(243, 243, 243, 0.8500000238418579);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 21px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    font-style: Medium;
    text-align: left;
    font-family: Raleway;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .brand-logo-two {
    top: 20px;
    left: 37px;
    width: 669px;
    height: 39px;
    position: absolute;
  }

  .whole-footer{
    top: 0px;
    left: 0px;
    width: 213vh;
    height: 400px;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }